<body>
  <div class="gradient-bg">
<div class="container">
    <div class="login-card">
      <h2 class="login-title">Login to Your Account</h2>
      <form class="login-form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="name" id="username" class="form-control" placeholder="Enter your username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p class="login-register-link">Don't have an account? <a routerLink="/register">Register here</a></p>
    </div>
  </div>
  </div>
</body>
  