.container {
  margin-top: 20px;
  width: 100%;
}

.logo {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem; /* Modify these values as needed */
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa;
}

.navbar-nav .active {
  font-weight: bold;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-color: #fff;
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    padding: 0.5rem; /* Modify this value as needed */
  }
}


  

/* .logo {
    margin-right: 10px;
  }
  
  .home-content {
    margin-top: 100px;
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 18px;
    color: #666;
  }
   */