<section class="hero">
  <div class="hero-content">
    <h1>Welcome to our Music App!</h1>
    <p>Discover and enjoy your favorite music.</p>
    <button class="btn btn-primary" (click)="navigateToRegister()">Get Started</button>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-item">
          <i class="fa fa-headphones"></i>
          <h3>Listen to Music</h3>
          <p>Explore a vast collection of songs from various genres and artists.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-item">
          <i class="fa fa-heart"></i>
          <h3>Create Playlists</h3>
          <p>Build your own playlists with your favorite songs and enjoy them anytime.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-item">
          <i class="fa fa-music"></i>
          <h3>Discover New Artists</h3>
          <p>Get recommendations and discover new artists that match your taste.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/OIP.jpg" class="card-img-top" alt="Song 1">
          <div class="card-body">
            <h5 class="card-title">Song 1</h5>
            <p class="card-text">Artist: Artist 1</p>
            <a href="#" class="btn btn-primary">Play Song</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/OIP.jpg" class="card-img-top" alt="Song 2">
          <div class="card-body">
            <h5 class="card-title">Song 2</h5>
            <p class="card-text">Artist: Artist 2</p>
            <a href="#" class="btn btn-primary">Play Song</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/OIP.jpg" class="card-img-top" alt="Song 3">
          <div class="card-body">
            <h5 class="card-title">Song 3</h5>
            <p class="card-text">Artist: Artist 3</p>
